body {
    background-color: black;
    color: white;
    font-family: 'Open Dyslexic', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#word-display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
}